.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.cart {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 26px rgba(0,0,0,0.1);
	overflow: hidden;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 262px;

	.cart-title {
		color: $dark_grey;
		display: block;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 20px;
		text-transform: uppercase;
		text-align: center;
	}

	.cart-counter {
		color: $blue;
		position: absolute;
		font-size: 12px;
		font-weight: normal;
		margin-left: 6px;
		right: 10px;
		text-transform: lowercase;
		top: 10px;
	}

	.cart-empty {
		text-align: center;
		padding: 40px 0 68px;

		img { animation: showCart 1.4s ease; }

		@keyframes showCart {
		  0% { opacity: 0; transform: rotate(0) scale(0); }
			45% { opacity: 1; transform: rotate(15deg) scale(0.5); }
			60% { transform: rotate(-20deg) scale(0.8); }
			65% { opacity: 1; }
			80% { opacity: 0; transform: rotate(0) scale(4); }
		  100% {opacity: 1; transform: rotate(0) scale(1); }
		}

		@keyframes showCartText {
			0% {
				transform: translateY(30px);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		div {
			animation: showCartText 0.3s ease forwards;
			animation-delay: 1.3s;
			color: #ccc;
			margin-top: 20px;
			opacity: 0;
			span {
				display: block;
			}
		}
	}

	.cart-product {
		border-top: 1px dotted #eaeaea;
		position: relative;

		.product-img {
			clip-path: circle(25px at center);
			display: inline-block;
			left: -10px;
			position: relative;
			transition: all 0.5s ease;
			vertical-align: middle;
			width: 30%;
		}
		.product-desc {
			display: inline-block;
			vertical-align: middle;
			width: 70%;
		}
		.product-title {
			font-size: 13px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.product-price {
			color: $blue;
			font-size: 12px;
		}

		// ====================================================
		// QUANDO HÁ O HOVER NO ITEM DO CARRINHO
		// ====================================================
		.remove-item {
			background: $dark_red;
			border-radius: 100%;
			cursor: pointer;
			display: block;
			height: 30px;
			opacity: 1;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(180%, -50%);
			transition: all 0.4s ease;
			width: 30px;
			&:after {
				background: url('/icon-delete.svg') center no-repeat;
				content: "";
				display: block;
				height: 19px;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%,-50%);
				width: 20px;
			}
		}

		.product-img,
		.product-desc {
			transition: all 0.3s ease;
		}

		&:hover {
			.product-img,
			.product-desc {
				opacity: 0.15;
				transform: translateX(20px);
			}

			.remove-item {
				transform: translate(-50%, -50%);
			}
		}
	}

	.cart-grid {
		height: 40px;
		font-size: 14px;
		line-height: 40px;
		span {
			border-top: 1px dotted #eaeaea;
			float: left;
			&:first-child {
				width: 50%;
				border-right: 1px dotted #eaeaea;
			}
			&:last-child { width: 50%; }
		}
		span:last-child {
			color: $dark_grey;
			font-weight: 600;
			text-align: right;
			&.cart-total-value {
				color: $blue;
				font-size: 18px;
			}
		}
		&.free-shipping span {
			color: #ccc;
			text-decoration: line-through;
		}
	}

	.btn {
		background: $blue;
		border-bottom: 4px solid $dark_blue;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 13px;
		margin-top: 20px;
		overflow: hidden;
		padding: 10px 15px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		transition:
			background 0.5s ease,
			opacity 0.3s ease,
			transform 0.35s  ease;
		width: 100%;
		span {
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
		}
		&:hover { background: $dark_blue; }
	}
}
