<template>
	<div class="cart" v-bind:style="{ transform: 'translateY('+ scrollPosition + 'px)'}">
		<div class="cart-title">
			Carrinho
			<span class="cart-counter">{{ itemsCounter() }}</span>
		</div>
		<template v-if="addedItems.length === 0">
			<div class="cart-empty">
				<img class="product-img" src="/cart-icon.svg" alt="ícone carrinho de compras" />
				<div><span>Até o momento</span> o seu carrinho está vazio</div>
			</div>
		</template>
		<template v-else>
			<div v-for="item in addedItems" :key="item.id" class="cart-product">
				<img class="product-img" :src="item.image" :alt="'Capa do Game: ' + item.name" />
				<div class="product-desc">
					<div class="product-title">{{ item.name }}</div>
					<div class="product-price">R${{ item.price }}</div>
				</div>
				<div :class="'remove-item'"></div>
			</div>
			<div class="cart-subtotal cart-grid">
				<span class="cart-subtotal-text">Subtotal</span>
				<span class="cart-subtotal-value">{{ getSubtotal() | toCurrency }}</span>
			</div>
			<div :class="[{'free-shipping': freeShipping()},'cart-shipping cart-grid']">
				<span class="cart-shipping-text">Frete</span>
				<span class="cart-shipping-value">{{ shippingTotal | toCurrency }}</span>
			</div>
			<div class="cart-total cart-grid">
				<span class="cart-total-text">Total</span>
				<span class="cart-total-value">{{ getTotal() | toCurrency }}</span>
			</div>
			<a href="#" class="btn cart-finish-btn">Finalizar Compra</a>
		</template>
	</div>
</template>

<script src="./cart.js"></script>
<style src="./cart.scss" lang="scss" scoped></style>
