<template>
	<div :class="[{ 'item-added': isAdded, 'item-removed': isRemoved & !isAdded}, 'product']">
		<img class="product-img" :src="image" :alt="'Capa do Game: ' + name" />
		<div class="product-title">{{ name }}</div>
		<div class="product-price">{{ price | toCurrency }}</div>
		<div class="item-added-title">Selecionado</div>
		<a
			@click="addItem()"
			:class="[
				'btn btn-add',
				{ 'btn-active': isRemoved }
			]"
		>
			<span>Adicionar</span>
		</a>
		<a @click="removeItem()"
			:class="[
				'btn btn-remove',
				{ 'btn-active': isAdded }
			]"
		>
			<span>Remover</span>
		</a>
	</div>
</template>

<script src="./product.js"></script>
<style src="./product.scss" lang="scss" scoped></style>
