.product {
	background: #fff;
	border-radius: 8px;
	border: 3px solid transparent;
	box-shadow: 0 0 26px rgba(0,0,0,0.1);
	display: inline-block;
	margin: 30px 0 0 0;
	overflow: hidden;
	padding: 20px 0;
	position: relative;
	text-align: center;
	transition: all 0.8s ease;
	width: 262px;

	.product-img {
		clip-path: circle(60% at center);
		padding: 10px;
		transition:
			opacity 0.3s ease,
			clip-path 0.5s ease,
			transform 0.4s ease;
		transform: rotateY(0deg) translateY(0);
	}

	.product-title {
		font-weight: 300;
		margin: 0 auto;
		width: 95%;
	}

	.product-price {
		border-bottom: 1px solid #e4e4e4;
		border-top: 1px solid #e4e4e4;
		color: $blue;
		display: inline-block;
		margin-top: 10px;
		padding: 5px;
	}

	&:hover {
		.product-img {
			clip-path: circle(55px at center);
			transform: translateY(-15px);
		}
		.btn-add {
			opacity: 1;
			transform: translate(-50%, 36%);
			&:before {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	// ====================================================
	// BOTÕES
	// ====================================================
	.btn {
		background: $blue;
		border-bottom: 4px solid $dark_blue;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		font-size: 13px;
		overflow: hidden;
		padding: 10px 15px;
		text-transform: uppercase;
		transition:
			background 0.5s ease,
			opacity 0.3s ease,
			transform 0.35s  ease;
		opacity: 0;
		span {
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
		}
		&:hover { background: $dark_blue; }
	}

	.btn-add,
	.btn-remove {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -36%);
		&:before {
			background: url('/icon-heart.svg') center no-repeat;
			content: "";
			display: inline-block;
			height: 20px;
			margin-right: 5px;
			opacity: 0;
			transform: scale(10);
			transition:
				opacity 0.2s ease,
				transform 0.3s ease;
			vertical-align: middle;
			width: 20px;
		}
	}

	.btn-remove {
		background: $red;
		border-bottom: 4px solid $dark_red;
		transform: translate(-50%, 150%);
		&:before { display: none; }
		&:hover { background: $dark_red; }
	}


	// ====================================================
	// QUANDO O PRODUTO FOI ADICIONADO AO CARRINHO
	// ====================================================
	@keyframes image-flip {
    from { transform: rotateY(0deg) translateY(-15px); }
    to { transform: rotateY(360deg) translateY(-15px); }
	}

	@keyframes image-flip-out {
    from { transform: rotateY(360deg) translateY(-15px);}
    to { transform: rotateY(0deg) translateY(-15px);}
	}

	.item-added-title {
		color: $red;
		font-size: 20px;
		font-weight: 600;
		left: 50%;
		opacity: 0;
		padding: 0 10px;
		position: absolute;
		text-transform: uppercase;
		top: 0;
		transform: translate(-50%, 30px);
		transition: all 0.3s ease;
	}

	&.item-added {
		background: #FCFFDE;
		background: linear-gradient(to bottom, rgba(252,255,222,1) 0%, rgba(255,255,255,1) 100%);
		border: 3px solid $red;
		.item-added-title {
			opacity: 0.3;
			transform: translate(-50%, 10px);
		}
		.product-img {
			animation-duration: 0.6s;
		 	animation-iteration-count: 1;
		 	animation-timing-function: ease;
			animation-name: image-flip;
			clip-path: circle(55px at center);
			transform: translateY(-15px);
		}
		.btn {
			cursor: default;
			opacity: 0;
			transform: translate(-50%, -36%);
			&:before {
				opacity: 0;
				transform: scale(10)
			}
			span { cursor: default; }
		}
		.btn-remove {
			cursor: pointer;
			opacity: 1;
			transform: translate(-50%, 36%);
			span { cursor: pointer; }
		}
		.product-price { color: $dark_red; }
	} // .item-added


	// ====================================================
	// QUANDO O PRODUTO FOI REMOVIDO DO CARRINHO
	// ====================================================
	// &.item-removed {
	// 	.product-img {
	// 		animation-duration: 0.6s;
	// 		animation-iteration-count: 1;
	// 		animation-timing-function: ease;
	// 		animation-name: image-flip-out;
	// 	}
	// }
}
