
* {
	box-sizing: border-box;
	cursor: default;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: $grey;
	font-family: 'Open Sans', sans-serif;
}

.products {
	border-radius: 2px;
	margin: 0 auto;
	padding: 70px;
	position: relative;
	width: 1280px;

	.content {
		position: relative;
		width: 1140px;
	}

	nav {
		margin-bottom: 10px;
		position: relative;
		width: 848px;
		&:before {
			animation: enterZoom 0.7s ease forwards;
			animation-delay: 0.7s;
			background: url('/icon-zoom.svg') center no-repeat;
			background-size: contain;
			display: inline-block;
			position: absolute;
			content: "";
			height: 45px;
			left: 0;
			opacity: 0;
			transform: translate(-30px,5px) rotate(90deg);
			width: 45px;
			z-index: 10;
		}
	}

	@keyframes enterZoom {
	  0% {
			opacity: 0;
			transform: translate(-30px,5px) rotate(0);
		}
		70% {
			opacity: 0.65;
			transform: translate(-50px,5px) rotate(0);
		}
  	100% {
			opacity: 0.65;
			transform: translate(-50px,5px) rotate(90deg);
		}
	}

	.main-title {
		animation: borderFlicker 0.6s ease infinite;
		color: $dark_grey;
		border-left: 1px solid #ccc;
		display: inline-block;
		font-weight: 800;
		font-size: 42px;
		height: 40px;
		line-height: 40px;
		overflow-y: hidden;
		padding-left: 10px;
		text-transform: uppercase;
		vertical-align: middle;
		span {
			animation: showTitle 2s ease;
			display: inline-block;
		}
	}

	@keyframes borderFlicker {
	  0% { border-color: rgba(255,255,255, 0.0); }
	  100% { opacity: 1; }
	}

	@keyframes showTitle {
	  0% { transform: translateX(-150%); }
		70% { transform: translateX(-90%); }
	  100% { transform: translateX(0); }
	}

	.results {
		display: flex;
	  flex-flow: row wrap;
	  justify-content: space-between;
		position: relative;
		width: 848px;
	}

	// ====================================================
	// LOADING RESULTS
	// ====================================================
	.loading {
		background: rgba(255,255,255,0.9);
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		pointer-events: none;
		top: 0;
		transition: opacity 0.15s ease;
		width: 100%;
		z-index: 1;

		&.loading-show { opacity: 1; }

		.lds-ring {
		  display: inline-block;
			height: 80px;
			left: 50%;
			position: absolute;
			top: 40%;
			transform: translate(-50%,-50%);
			width: 80px;
			div {
				animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
				border: 6px solid $blue;
				border-color: $blue transparent transparent transparent;
			  border-radius: 50%;
			  box-sizing: border-box;
			  display: block;
				height: 80px;
			  position: absolute;
				width: 80px;
				&:nth-child(1) { animation-delay: -0.45s; }
				&:nth-child(2) { animation-delay: -0.3s; }
				&:nth-child(3) { animation-delay: -0.15s; }
			}
		}

		@keyframes lds-ring {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}
	}

}
