<template>
  <div class="products">
		<div class="content">
			<nav>
				<h1 class="main-title"><span>Games</span></h1>
				<sort @sort="getSortType" @loading="showLoading" />
			</nav>
			<div class="results">
				<div :class="[{'loading-show': isLoading}, 'loading']">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<product
					v-for="product in sortedArray"
					v-bind:key="product.id"
					@added="addedItems"
					@removed="removedItems"
					:id="product.id"
			  	:name="product.name"
					:price="product.price"
					:score="product.score"
					:image="product.image"
				/>
			</div>

			<cart :addedItems="addedProducts"
			/>
		</div>
  </div>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss"></script>
