.sort {
	background: #fff;
	box-shadow: 0 0 26px rgba(0,0,0,0.1);
	border-radius: 8px;
	border-bottom: 4px solid #eaeaea;
	cursor: pointer;
	display: inline-block;
	height: 42px;
	overflow: hidden;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s ease;
	width: 185px;
	z-index: 1;

	&:after {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #575151;
		display: block;
		content: "";
		height: 0;
		position: absolute;
		pointer-events: none;
		right: 15px;
		top: 17px;
		transition: transform 0.4s ease;
		width: 0;
	}

	.sort-item {
		border-bottom: 1px dotted #eaeaea;
		color: #999;
		cursor: pointer;
		font-size: 14px;
		height: 42px;
		line-height: 40px;
		padding-left: 20px;
		transition: transform 0.15s ease;

		&.active {
			color: $red;
			font-weight: bold;
		}

		&:hover:not(.active) { transform: translateX(10px); }

		&:nth-child(2) {
			opacity: 0;
			pointer-events: none;
		}

		&.sort-placeholder {
			color: $red;
			cursor: pointer;
			font-weight: bold;
			left: 0;
			line-height: 40px;
			pointer-events: none;
			position: absolute;
			transition: all 0.25s ease;
			transform: translateY(0);
			width: 100%;
		}
	}

	&.sort-open {
		// transform: translateY(-40px);
		height: 130px;

		.sort-item:nth-child(2) {
			opacity: 1;
			pointer-events: visible;
		}
		.sort-placeholder {
			opacity: 0;
			transform: translateY(100%);
			transition: none;
		}
		&:after { transform: rotate(180deg); }
	}
}
