<template>
	<div @click="openSort" :class="[{'sort-open': open}, 'sort']">
		<div class="sort-item sort-placeholder">{{ placeholder_name }}</div>
		<div
			@click="selectItem(index)"
			v-for="(item, index) in items"
			v-bind:key="index"
			:class="[{'active': itemIdActive == item.id}, 'sort-item']">
				{{ item.name }}
		</div>
	</div>
</template>

<script src="./sort.js"></script>
<style src="./sort.scss" lang="scss" scoped></script>
